$body-font: 'Raleway', sans-serif;
$background-uno: #33485c;
$background-dos: #f7f7f7;
$color-text-titulo: #fff;
$color-text-laboratoria: #EA8F0E;
$color-text-p: #989998;
$text-center:center;
$padding:6%;
$padding-media:11%;
$padding-footer:2%;
$width-desktop: 100%;



